/* reseting basics */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MOBILE background */
html {
    background: #e0e8ff url("images/pattern-background-mobile.svg") no-repeat top;
    background-size: 100%;
}




/* attribution at the bottom */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    }

.attribution a {
    color: hsl(228, 45%, 44%); 
    }


/* 768 px in width and above - Not mobile screens */
@media screen and (min-width: 768px) {
    
    html {
        background: #e0e8ff url("images/pattern-background-desktop.svg") no-repeat top;
        background-size: 100%;
}

}
